/* Contenedor principal */
.profile-header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;
}

/* Estilo para el nombre */
.profile-name {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #212529;
}

.edit-profile-button {
  min-width: auto;
  height: 30px;
  background-color: white !important;
  border: none !important; 
  padding: 1% !important;
  margin-right: 5px !important;
  border-radius: 0 !important; 
  transition: all 0.2s ease;
  display: flex;
  justify-content: center !important;
  align-items: center !important; 
  margin-left: 0.9rem !important;
  color: #030436 !important;
  font-size: 14px !important;
  text-decoration: underline;
}

/* Efecto hover para mantener la interactividad */
.edit-profile-button:hover {
  background-color: #f8f9fa !important; 
  /*border-color: #adb5bd !important; */
  color: #adb5bd !important;
}

  /* Efecto active para el botón */
  .edit-profile-button:active {
    transform: translateY(0);
    box-shadow: none;
  }


  .btn-link.text-body:hover {
    color: var(--bs-primary) !important;
  }
  
  .btn-link.text-danger:hover {
    color: var(--bs-danger) !important;
    text-decoration: underline;
  }
  
  /* Alinear iconos correctamente */
  .btn-link .d-flex {
    align-items: center;
  }
  
  .profile-card {
    margin: 0;
    border: none !important;
    box-shadow: none;
  }
  
  
  /* Cambiar color del ícono del lápiz */
  .edit-profile-button .bi-pencil {
    color: #030436; 
    transition: color 0.2s ease;
  }
  
  .edit-profile-button:hover .bi-pencil {
    color: #c2c2c2 !important; 
  }
  
  /* Ajuste para el contenedor del nombre y botón */
  .d-flex.justify-content-between.align-items-center.mb-4 {
    margin-bottom: 0 !important;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee; 
    margin-bottom: 20px !important;
  }
  
  /* Ajuste para el nombre */
  .profile-header h4 {
    margin: 0;
    padding: 0;
  }

  .stat-number {
    font-weight: bold;
    margin-bottom: 5px;
    color: #525252;
  }
  
  .stat-label {
    font-weight: bold;
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 0;
  }

  .incidents-section {
    margin-top: 2%;
  }