  .navbar-filter {
    background: none !important;
    width: 40px;
    height: 40px;
    border-radius: 80% !important;
  }

/* Botón circular */
  .menu-circle {
    width: 40px;
    height: 40px;
    border-radius: 80% !important;
    background: #030436 !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    transition: transform 0.3s;
  }
  

  .menu-circle .navbar-toggler-icon {
    display: none;
  }
  
  /* Estilos para el menú desplegable */
  .menu-content {
    position: absolute;
    left: 50%;
    transform: translateX(80%);
    top: 110% !important; 
    margin-top: 20px; 
    text-align: center; 
    width: 200px; 
  }

  /* Menú hamburguesa dentro del botón circular */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  background: none !important;
}

.hamburger-line {
  width: 24px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s;
}