  .navbar-filter {
    background: none !important;
    width: 40px;
    height: 40px;
    border-radius: 80% !important;
  }

/* Botón circular */
  .menu-circle {
    width: 40px;
    height: 40px;
    border-radius: 80% !important;
    background: #030436 !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    transition: transform 0.3s;
  }
  
  .menu-circle .navbar-toggler-icon {
    display: none;
  }
  
  /* Estilos para el menú desplegable */
  .menu-content {
    position: absolute;
    left: 80%;
    transform: translateX(80%);
    top: 120% !important; 
    margin-top: 20px; 
    text-align: center; 
    width: fit-content;
    font-size: 15px !important;
    border-radius: 12px !important;
    border-color: transparent !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
  }

  .menu-item {
    padding-top: 12px !important;    
    padding-bottom: 12px !important; 
    align-items: center;  
  }

  /* Espacio entre texto y switch */
  .menu-item span {
    margin-right: 18px;
  }

  .menu-item:hover, 
  .menu-item:focus {
    background-color: transparent !important;
    color: inherit !important;
  }


  /* Menú hamburguesa dentro del botón circular */
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    background: none !important;
  }

  .hamburger-line {
    width: 24px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
  }

  .navbar-filter .dropdown-divider {
    margin: 6px auto; 
    width: 90%; 
    border-top: 1px solid #d0d1d2;
    position: relative;
  }

  .navbar-filter .dropdown-header {
    text-align: left !important;
    font-size: 16px;
    color: #030436;
    font-weight: bold;
  }