 .join-team-container {
    margin-top: 50px;
    width: 100% !important;
 }

 .join-team-title {
    text-align: left;      
    font-size: 2.5rem;    
    font-weight: bold;    
    margin-bottom: 0.5rem;
  }