.join-team-container {
   margin-top: 50px;
   width: 100% !important;
}

.header-join {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   background-color: #f4f4f4;
   border-bottom: 2px solid #ddd;
}


.logo-join {
   width: 150px;
   height: auto;
}

h1-join{
   font-size: 2.5em;
   margin-top: 40px;
   color: #222;
}


.container-card-join {
   display: flex;
   justify-content: center;
   gap: 30px;
   padding: 40px;
   column-count: 3; /* Número de columnas */
   column-gap: 20px; /* Espacio entre columnas */
}

.card-join {
   width: 280px;
   padding: 30px 20px;
   border-radius: 16px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   color: #333;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.columna {
   flex-basis: 33%; /* Ancho de cada columna */
}

.card-join h2 {
   margin-bottom: 10px;
   font-size: 1.2em;
}

.card-join p {
   font-size: 1em;
   margin-bottom: 20px;
}

.card-blue { background-color: #3254b4; color: white; }
.card-orange { background-color: #d85c19; color: white; }
.card-yellow { background-color: #ffd42a; color: black; }

