/* Estilos del Navbar */
.navbar-custom {
    width: 98%;
    height: 50px !important;
    background-color: #03043640 !important;
    border-radius: 10px;
    position: fixed !important;
    top: 2% !important;
    left: 50% !important;
    transform: translateX(-50%)!important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    z-index: 100;
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important; 
}

.navbar-custom-map {
    top: 2% !important;
    width: 50%;
    z-index: 100;
    height: 50px !important;
    position: fixed !important;
    right: 14.5px !important;
}
  
/* STYLES BOTÓN LOGIN */
.login-button {
    border-radius: 30px !important;
    background-color: hsl(239, 89%, 11%) !important;
    font-weight: bold !important;
    border-color: #030436 !important;
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap !important;
    font-size: 20px !important;
    padding: 1.5px 5px !important;
    right: 10px !important;
    z-index: 90000 !important;
}

/* Cambiar el color del texto en hover */
.login-button:hover {
    transform: translateY(-50%) scale(1.03);
    color: rgb(255, 255, 255) !important;
}

.backHomeButton {
    border-radius: 30px !important;
    background-color: #fbfbfb !important;
    font-weight: bold !important;
    border: none !important;
    position: absolute !important;
    top: 45%;
    transform: translateY(-50%);
    white-space: nowrap !important;
    font-size: 16px !important;
    padding: 3px 8px!important;
    left: 10px !important;
    color: #030436 !important;
    transition: all 0.3s ease;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.backHomeButton:hover {
    color: #030436 !important; 
    top: 45%;
    transform: translateY(-50%) scale(1.03);
    border: none !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.userMenu{
    position: absolute !important;
    right: 10px !important; 
    z-index: 90000 !important;
}

.menuH {
    order: 1;
    position: absolute !important;
    left: 10px !important; 
    top: 50%;
    transform: translateY(-50%); 
    background: none !important;
}

/* Superposición del modal */
.modal-overlay {
    position: fixed;         
    top: 0;
    left: 0;
    width: 100vw;             
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 9999;           
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
/* Asegura que el modal de Bootstrap también se mantenga visible */
.modal-content {
    z-index: 10001;           
    position: relative;
}
  
/* BOTÓN DE APARTADOS DE MANEJO DE INCIDENTES Y USUARIOS */
.manageIncidentsButton {
    border-radius: 30px !important;
    background-color: #fbfbfb !important;
    font-weight: bold !important;
    border: none !important;
    position: absolute !important;
    top: 45%;
    transform: translateY(-50%);
    white-space: nowrap !important;
    font-size: 16px !important;
    padding: 3px 8px!important;
    right: 70px !important;
    color: #030436 !important;
    transition: all 0.3s ease;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.manageIncidentsButton:hover {
    color: #030436 !important; 
    top: 45%;
    transform: translateY(-50%) scale(1.03);
    border: none !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.manageIncidentsButton.active {
    background-color: #00A5C2 !important; 
    color: rgb(255, 255, 255) !important;            
  }

.manageUsersButton {
    border-radius: 30px !important;
    background-color: #fbfbfb !important;
    font-weight: bold !important;
    border: none !important;
    position: absolute !important;
    top: 45%;
    transform: translateY(-50%);
    white-space: nowrap !important;
    font-size: 16px !important;
    padding: 3px 8px!important;
    right: 180px !important;
    color: #030436 !important;
    transition: all 0.3s ease;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.manageUsersButton:hover {
    color: #030436 !important; 
    top: 45%;
    transform: translateY(-50%) scale(1.03);
    border: none !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.manageUsersButton.active {
    background-color: #00A5C2 !important; 
    color: rgb(255, 255, 255) !important; 
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 8px;
}

.search-bar {
  order: 2;
}