@import 'bootstrap/dist/css/bootstrap.min.css';

/* Estilos básicos globales */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo del cuerpo de la página para asegurar que ocupe toda la altura */
body, html {
  margin: 0 !important;
  padding: 0;
  height: 100%;
  width: 100%;
  right: 0 !important;
  left: 0 !important;
}

 /* Asegura que el contenido ocupe todo el espacio restante después del navbar */
 .main-content {
  margin-top: 70px; 
  padding: 0px;
  height: calc(100vh - 60px); /* Ajusta el alto para que ocupe toda la pantalla menos el alto del navbar */
  overflow-y: auto; /* Agrega barra de desplazamiento si el contenido excede la altura */
}





