.add-comment {
    width: 100%;
}

.add {
    border-radius: 20px;
}

.custom-modal .modal-header {
  border-bottom: none !important; 
  z-index: 2500;
  border: transparent !important;
}

.custom-modal .modal-footer {
  border-top: none !important;
}

.comments-title {
    font-size: 18px;
    margin-top: 0px !important;
    margin-left: 5px;
}
